<div id="our-items" class="panel panel-default">
  <div class="panel-heading">
    <%= link_to 'Добавить предложение', new_item_path, class: 'btn btn-default' %>
    <div class="btn-group right-block">
      <%= filter_buttons(session[:filter]) %>
    </div>
  </div>
  <div id="main-content" class="panel-body" keep-scroll >
    <%= render @items %>
  </div>
</div>